@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
    max-height: 100vh;
}

.navbar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr repeat(4, 1fr) 2fr;
}

.first,
.last {
    font-weight: bold;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, minmax(50px, 200px));
    grid-template-rows: repeat(4, minmax(50px, 200px));
}

.box-6 {
    grid-area: 2/3/3/4;
}

.box-8 {
    grid-area: 3/1/5/span 2;
    width: 100%;
}

.box-4 {
    grid-area: 3 / 6 /4 /7;
}

.box-5 {
    grid-area: 2 / 5 / 3 / 6;
}

.box-9 {
    grid-area: 1 / 7 / 3 / 9;
    width: auto;
}

.box-7 {
    grid-area: 3 / 4 / 4 / 5;
}

.box-3 {
    grid-area: 4 / 7 / 5 / 8;
}

.footer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: 1fr;
}

.footer-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.footer-2 {
    grid-area: 1/ 2 / 2 / 3;
    font-style: italic;
}